.box-attention {
    border-radius: $border-radius-lg;
    padding: 0px 50px;
    border: 2px solid rgba(87, 88, 227, 0.15);
    background-color: (var(--md-ref-palette-neutral95));
    &--green {
      padding: 40px 35px;
      background-color: var(--quaternary-color);
    }
    &--orange {
      color: var(--md-sys-color-tertiary);
      background-color: var(--md-ref-palette-tertiary95);
    }
    &--purple {
      background-color: var(--md-ref-palette-primary95);
    }
    &--blue {
      background-color: var(--md-ref-palette-secondary90);
    }
    @include tablet{
      padding: 18px 24px;
  
    }
    @include mobile{
      padding: 16px 16px;
  
    }
  }