// Card
// Dependendo do modificador, aplica uma cor diferente
.card {
    border-radius: 20px;
    &--purple-shadow {
      box-shadow: 0px 0px 15px rgba(87, 88, 227, 0.15);
      border: 2px solid rgba(87, 88, 227, 0.15);
    }
  
    &--orange-shadow {
      box-shadow: 0px 0px 15px rgba(255, 74, 74, 0.18);
      border: 2px solid rgba(255, 74, 74, 0.18);
    }
  
    .card-title {
      font-size: 1.13em;
      font-family: $font-stack;
      font-weight: 600;
    }
  
    p {
      line-height: 150%;
    }
  }