
.img-side-card {
    display: flex;
    align-items: center;
  
    .img--round {
      width: 45%;
      height: 320px;
      max-height: 350px;
      min-height: 100%;
      object-fit: cover;
      object-position: center center;
      z-index: 3;
    }
    .card {
      margin-left: -3px;
      padding-left: 20px;
      width: 55%;
      border-radius: 0 $border-radius-lg $border-radius-lg 0;
    }
    @include tablet {
      flex-direction: column;
      .img--round {
        width: 85%;
        margin-bottom: 24px;
      }
      .card {
        width: 100%;
        border-radius: $border-radius-lg;
      }
    }
  }