// Sidebar
.sidenav {
  --sidenav-width: 460px;
  li {
    a {
      font-size: $body2-fontsize;
      line-height: 140%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0;
      margin: 0 calc(12px + var(--sidenav-padding));
      padding: calc(12px + var(--sidenav-padding));
    }
    a:hover,
    a:focus {
      background-color: var(--md-sys-color-surface) !important;
      color: var(--md-sys-color-primary) !important;
    }
  }

  @include tablet {
    --sidenav-width: 70%;
    li a{
      margin: 0 0;
    }
  }

}